body {
  max-width: 1000px;
  padding: 1em;
  font-family: Helvetica, Arial, sans-serif;
}

div, section, main, aside, header, footer {
  border: 1px solid lightgray;
  padding: .5em;
  margin-bottom: 1em;
}

img.hero {
  width: 800px;
}
img.girl {
  width: 800px;
}
img.logo {
  width: 40px;
}
