body {
  font-family: Helvetica, Arial, sans-serif;
   background-color: rgb(71,78,89);
   margin: 0;
}
.events {
  position: absolute;
  color: white;
  padding-left: 1em;
}
#nav {
  position: relative;
  top: 0%;
  color: orange;

}
.hero-image {
    height: 60vh;
    background-image: url(photos/shadow.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
    padding: 0;
}
.hero-image__container {
    display: flex;
  align-items: center;
  justify-content: center;
    height: 100%;
}

.hero-image__text {
    z-index: 100;
    margin-top:21%;
    padding: 2em;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: .9em;
    text-align: center;
    left: 50px;
}

.hero-image:after {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    display: block;
    content: "";
}
.logo {
  position: absolute;
  margin-top: .0001%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  left: 0;
  right: 0;
  display: block;
  top: 106px;
}
.african {
  margin: 2%;
  width: 96%;
  background-image: url(photos/african.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
}
.african h2 {
  color: #D2D1C0;
  background-color: rgb(71,78,89);
  display: inline-block;
  padding: .5em;
  margin-top: 1em;
}

.blends {
  width: 100%;
  margin: 0;
  padding: 0;
}
.valentines {
  width: 100%;
}
.loose {
  width: 100%;
}
.looseleaf {
  width: 100%;
}
.green {
  width: 100%;
}
ul {
    padding: 0;
    list-style-type: none;
}
main {
    padding: 10em;
}
footer {
  background-color: #D2D1C0
}
footer {
  text-align: center;
  padding-bottom: 1em;
}
dt {
  font-size: 1.2em;
  color: rgb(71,78,89);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 1em
}

dd {
  margin-left: 0;
  font-size: 1em;
  line-height: 1.5;
  color: white;
}
.clearfix:after {
  display: block;
  content: “”;
  display: table;
  clear: both;
}

@media screen and (min-width: 900px)
{
  .hero-image {
      height: 90vh;
      background-image: url(photos/shadow.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
  }
  .hero-image__text {
      z-index: 100;
      margin-top:7%;
      padding: 1.5em;
      color: white;
      font-family: Helvetica, Arial, sans-serif;
      text-align: center;
      left: 50px;
  }
  .hero-image__text p {
    font-size: 1.3em;
    margin-left: 4em;
    margin-right: 4em;
  }
  .hero-image__text h1 {
    font-size: 3em;
  }

#button {
    padding: 1em;
    margin: 2em 1em 2em 2em;
    display: inline-block;
    border: 3px solid #D2D1C0;
    color: white;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    transition: .3s background-color ease-in-out;
}
#button:hover, .button:focus {
    background-color: #D2D1C0;
}
div.fixed-rectangle {
   width: 100%;
   height: 100px;
   background-color: rgb(71,78,89);
}
}

#nav {
padding: 0;
margin: 0 auto;
list-style-type: none;
top: 65%;
left: 0;
right: 0;
margin-left: 0;
margin-right: 0;
display: center;
text-align: center;
}
#nav ul li { display: inline; }
#nav ul li a { text-decoration: none; }
}

@media screen and (min-width: 800px)
{
  #button {
      padding: 1em;
      margin: 2em 1em 2em 2em;
      display: inline-block;
      border: 3px solid #D2D1C0;
      color: white;
      text-decoration: none;
      font-family: Helvetica, sans-serif;
      transition: .3s background-color ease-in-out;
  }
  #button:hover, .button:focus {
      background-color: #D2D1C0;
  }
div.fixed-rectangle {
     width: 100%;
     height: 100px;
     background-color: rgb(71,78,89);
}

#nav {
  position: absolute;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  top: 65%;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  display: center;
  text-align: center;
}
#nav ul li { display: inline; }
#nav ul li a { text-decoration: none; }
}
}
.events {
  position: absolute;
  font-size: 1.5em;
  text-align: center;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0 auto;
  color: white;


}
@media screen and (min-width: 1000px)
{
  h1 {
    font-size: 2.5em;
  }
  footer {
    max-width: 900px;
    margin: 0 auto;
  }
  .contact {
    float: left;
    width: 33.3%;
    padding-top: 1em;
    padding-bottom: 2em;
  }
