
.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* IE < 8 */
}
body {
  font-family: 'Montserrat', sans-serif;
   background-color: black;
   margin: 0;
}
*{
  box-sizing: border-box;
}
h1 {
  color: white;
  text-align: center;
  font-size: 1.25em;
  padding: .5em;
}
.events {
  position: absolute;
  color: white;
  padding-left: 1em;
  margin: 2em;
}
.largenav {
  display: none;
}
.eventphoto-3 {
  padding-bottom: 1em;
}
a.menu-link {
          float: right;
              display: block;
              padding: 1em;
                width: 125px;
          }

  /* Adds Code for Pure CSS Hamburger Button */

  .menu-link__hamburger {
      margin-right: 0;
      padding-right: 0;
      margin: 0 auto;
      width: 33px;
      transform: translate(0,0);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }


  a.menu-link span {
    margin-right: 0;
    padding-right: 0;
    display: block;
    height: 5px;
    margin-bottom: 5px;
    position: relative;
    background: white;
    border-radius: 0px; /* Adjust the rounding of the hamburger here */
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  a.menu-link span:first-child {
    transform-origin: 0% 0%;
  }


  a.menu-link span:nth-child(3) {
    transform-origin: 0% 100%;
  }

  .menu-link.active .menu-link__hamburger {
      transform: translate(10px, 0);
  }

  .menu-link.active span {
    opacity: 1;
      background: black;
    transform: rotate(45deg) translate(-2px, -1px);
  }

  .menu-link.active span:nth-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  .menu-link.active span:nth-child(3){
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }

  nav[role=navigation] {
              clear: both;
              -webkit-transition: all 0.3s ease-out;
              -moz-transition: all 0.3s ease-out;
              -ms-transition: all 0.3s ease-out;
              -o-transition: all 0.3s ease-out;
              transition: all 0.3s ease-out;
          }
          .js nav[role=navigation] {
              overflow: hidden;
              max-height: 0;
          }
          nav[role=navigation].active {
              max-height: 15em;
              margin-top: 3.25em;
              text-decoration: none;
          }
          nav[role=navigation] ul {
              margin: 0;
              padding: 0;
              border-top: 3px solid #D2D1C0;
              text-decoration: none;
          }
          nav[role=navigation] li a {
              display: block;
              padding: 0.8em;
              border-bottom: 3px solid #D2D1C0;
              color: white;
              text-decoration: none;
          }

          @media screen and (min-width:800px) {
              a.menu-link {
                 display: none;
              }
              .js nav[role=navigation] {
                  max-height: none;
                  display: none;
              }

          }
/* End of Navigation */


.hero-image {
    height: 60vh;
    background-image: url(photos/shadow.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
    padding: 0;
}
.hero-image__container {
    display: flex;
  align-items: center;
  justify-content: center;
    height: 100%;
}

.hero-image__text {
    z-index: 100;
    line-height: 20px;
    padding: 2em;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    text-align: center;
}

.hero-image:after {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    display: block;
    content: "";
}
.logo {
  margin-top: .0001%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
  width: 50%;
  left: 0;
  right: 0;
  display: block;
}
.menu-link {
  position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    color: white;
}
.eventphoto h3 {
  margin-bottom: 0;
  padding: 0;
  color: white;
}
.eventphoto {
  margin: 2%;
  width: 96%;
  max-width: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  margin-left: auto;
  margin-right: auto;
}
.eventphoto-1 {
    background-image: url(photos/african.jpg);
    background-position: 0 -60px;
}
.eventphoto-2 {
    background-image: url(photos/loose.jpg);
    background-position: 0 -30px;
}
.eventphoto-2 h3{
  margin: 0;

}
.eventphoto-3 h3{
  margin: 0;
}
.eventphoto-1 h3{
  margin: 0;
}
.eventphoto-3 p {
  margin-bottom: 0;
}
.eventphoto-1 p {
  margin-bottom: 0;
}
.eventphoto-3 {
    background-image: url(photos/valentines.jpg);
    background-position: 0 -60px;
}
.eventphoto h2 {
  color: #D2D1C0;
  background-color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  padding: .5em;
  margin-top: 3.5em;
  margin-bottom: 2em;
}
.contentbox {
  background-color: #D2D1C0;]
  margin: 0;
  margin-top: 0;
  width: 100%;
  padding: 2em;
  max-height: 180px;
}

.blends {
  width: 100%;
  margin: 0;
  padding: 0;
}
.valentines {
  width: 100%;
}
.loose {
  width: 100%;
}
.looseleaf {
  width: 100%;
}
.green {
  width: 100%;
}
ul {
    padding: 0;
    list-style-type: none;
}

footer {
  background-color: black;
}
footer {
  text-align: center;
  padding-bottom: 1em;
  width: 98%;
}
dt {
  font-size: 1.2em;
  color: #D2D1C0;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 1em
}

dd {
  margin-left: 0;
  font-size: 1em;
  line-height: 1.5;
  color: white;
}
.clearfix:after {
  display: block;
  content: “”;
  display: table;
  clear: both;
}
.employee {
  width: 100%;
}
.muffins {
  width: 100%;
}

@media screen and (min-width: 600px)
{
.hero-image__text h1 {
  font-size: 1.9em;
}
.hero-image__text p {
  font-size: 1.2em;
  line-height: 25px;
}
}
@media screen and (min-width: 800px)
{
  h1 {
    margin: 0;
  }
  .eventphoto-1 {
    margin-top: 0;
  }
  .hero-image {
      height: 100vh;
    }
    .hero-image__text {
        padding: 5em;
      }
      .hero-image__text p {
        font-size: 1.3em;
        line-height: 27px;
      }
  .button {
      padding: 1em;
      margin: 2em 1em 0em 2em;
      display: inline-block;
      border: 3px solid #D2D1C0;
      color: white;
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      transition: .3s background-color ease-in-out;
  }
  .button:hover, .button:focus {
      background-color: #D2D1C0;
  }
div.fixed-rectangle {
     width: 100%;
     height: 100px;
     background-color: rgb(71,78,89);
}

.largenav {
  display: block;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  top: 65%;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  display: center;
  text-align: center;
}
.largenav ul {
  padding: 0;
  margin: 0;
}
.largenav ul li { display: inline; }
.largenav ul li a { text-decoration: none; }

h1 {
  font-size: 2.5em;
}
footer {
  padding: .5em;
  margin: 2%;
  margin-bottom: 1em;
  width: 96%;
}
.contact {
  float: left;
  width: 33.3%;
  padding-top: 1em;
  padding-bottom: 2em;
}
}



@media screen and (min-width: 900px)
{
  .eventphoto {
    float: left;
    width: 31.33333%;
    margin: 1%;
    min-height: 300px;
    max-width: 100%;
  }
  .eventphoto h2 {
    font-size: 1em

  }

  .hero-image {
      height: 100vh;
      background-image: url(photos/shadow.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
  }
  .hero-image__text {
      z-index: 100;
      margin-top:7%;
      padding: 1.5em;
      color: white;
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      left: 50px;
  }
  .hero-image__text p {
    font-size: 1.3em;
    margin-left: 4em;
    margin-right: 4em;
  }
  .hero-image__text h1 {
    font-size: 3em;
  }

div.fixed-rectangle {
   width: 100%;
   height: 100px;
   background-color: rgb(71,78,89);
}
}



@media screen and (min-width: 1000px)
{
  .eventphoto h2 {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1300px)
{
.hero-image__text p {
  padding: .5em;
  margin-left: 10em;
  margin-right: 10em;
  line-height: 28px;
}
.button {
  margin-bottom: 6em;
}
}






/* START OF MENU PAGE */
.hero-menu {
    height: 60vh;
    background-image: url(photos/smile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
    padding: 0;
}
.hero-menu__container {
    display: flex;
  align-items: center;
  justify-content: center;
    height: 100%;
}

.hero-menu__text {
    z-index: 100;
    line-height: 20px;
    padding: 2em;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    text-align: center;
}

.hero-menu:after {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    display: block;
    content: "";
}
.logo {
  margin-top: .0001%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
  width: 50%;
  left: 0;
  right: 0;
  display: block;
}
.menu {
  margin: 2%;
  width: 96%;
  max-width: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
}

.coffee {
    background-image: url(photos/hands.jpg);
    background-position: 0 -30px;
}
.tea {
    background-image: url(photos/looseleaf.jpg);
    background-position: 0 -30px;
}
.tea h3{
  margin: 0;

}
.bakery h3{
  margin: 0;
}
.coffee h3{
  margin: 0;
}
.bakery p {
  margin-bottom: 0;
}
.coffee p {
  margin-bottom: 0;
}
h3 {
  padding: 1em;
}
.bakery {
    background-image: url(photos/muffin.jpg);
    background-position: 0 -60px;
}
.coffee h2 {
  color: #D2D1C0;
  background-color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  padding: .5em;
  margin-top: 3.5em;
  margin-bottom: 2em;
}
.tea h2 {
  color: #D2D1C0;
  background-color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  padding: .5em;
  margin-top: 3.5em;
  margin-bottom: 2em;
}
.bakery h2 {
  color: #D2D1C0;
  background-color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  padding: .5em;
  margin-top: 3.5em;
  margin-bottom: 2em;
}
.contentbox-1 {
  background-color: #D2D1C0;
  margin: 0;
  margin-top: 3em;
  width: 100%;
  padding: 2em;
}
.contentbox-2 {
  background-color: #D2D1C0;
}
@media screen and (min-width: 900px)
{
  .menu {
    float: left;
    width: 31.33333%;
    margin: 1%;
    min-height: 300px;
    text-align: center;
  }
  .menu h2 {
    font-size: 1em
  }
.coffee h2 {
  font-size: 25px;
}
.tea h2 {
  font-size: 25px;
}
.bakery h2 {
  font-size: 25px;
}
.hero-menu {
    height: 100vh;
    background-image: url(photos/smile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.contentbox-2 {
  background-color: #D2D1C0;
}
  }
